
/* template-color */

.scroll-top{
  background: #C1121F;
}

.preloader-close{
	background: #C1121F;
}

.mobile-menu .menu-backdrop{
  background: #C1121F;
}

.scroll-top:hover{
  background: #8A0D16;
}

.mobile-menu .contact-info ul li a:hover{
  color: #C1121F;
}

.header-top .social-links li a:hover{
  color: #C1121F;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
  color: #C1121F;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  color: #C1121F;
}

.menu-area .mobile-nav-toggler{
  color: #C1121F;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  color: #C1121F;
}

.main-header .support-box i{
  background: #C1121F;
}

.main-header .support-box h4 a:hover{
  color: #C1121F;
}

.theme-btn-one{
	background: #C1121F;
}

.banner-section .pattern-layer:before{
	background: #C1121F;
}

.banner-section .pattern-layer:after{
	background: #C1121F;
}

.image_block_1 .image-box .image-content{
	background: #C1121F;
}

.sec-title p:before{
	background: #C1121F;
}

.content_block_1 .content-box .support-box h4 a:hover{
	color: #C1121F;
}

.content_block_1 .content-box .support-box i{
	background: #C1121F;
}

.content_block_1 .content-box .inner-box .single-item i{
	color: #C1121F;
}

.content_block_1 .content-box .list-item li:before{
	color: #C1121F;
}

.service-block-one .inner-box .overlay-content .link a{
	background: #C1121F;
}

.service-block-one .inner-box:before{
	background: #C1121F;
}

.progress-box .bar-inner{
	background: #C1121F;
}

.content_block_2 .content-box .inner-box .single-item i{
	background: #C1121F;
}

.bg-color-3{
	background-color: #C1121F;
}

.gallery-block-one .inner-box .image-box:before{
	background: #C1121F;
}

.content_block_3 .content-box .lower-box{
	background: #C1121F;
}

.content_block_4 .counter-block .counter-block-one .icon-box{
	background: #C1121F;
}

.video-section .inner-box a{
	background: #C1121F;
}

.testimonial-block-one .inner-box:hover .author-thumb{
	background: #C1121F;
}

.testimonial-block-one .inner-box .author-info .designation{
	color: #C1121F;
}

.testimonial-block-one .inner-box:before{
	background: #C1121F;
}

.news-block-one .image-box .image{
	background: #C1121F;
}

.news-block-one .image-box .post-date{
	background: #C1121F;
}

.news-block-one .content-box .post-info li a:hover{
  color: #C1121F;
}

.news-block-one .content-box .post-info li i{
	color: #C1121F;
}

.news-block-one .content-box h2 a:hover{
  color: #C1121F;
}

.news-block-one .content-box .link a:hover{
	background: #8A0D16;
}

.newsletter-section .text .icon-box{
	color: #C1121F;
}

.newsletter-section .newsletter-form .form-group input:focus{
  border-color: #C1121F !important;
}

.newsletter-section .newsletter-form .form-group button{
	color: #C1121F;
}

.footer-top .about-widget .support-box i{
	background: #C1121F;
}

.footer-top .about-widget .support-box h4 a:hover{
	color: #C1121F;
}

.footer-top .links-widget .links-list li a:hover{
  color: #C1121F;
}

.footer-top .links-widget .links-list li a:hover:before{
	color: #C1121F;
}

.footer-bottom .footer-social li a:hover{
  background: #8A0D16;
}

.main-header.style-two .header-lower .main-menu .navigation > li.current > a, 
.main-header.style-two .header-lower .main-menu .navigation > li:hover > a {
  color: #C1121F;
}

.main-header.style-two .header-lower .support-box h4 a:hover{
  color: #C1121F;
}

.history-section .upper-content .content-box .counter-block .icon-box{
	color: #C1121F;
}

.history-section .upper-content .content-box .text .list li:before{
	background: #C1121F;
}

.image_block_2 .image-box .image-content .support-box i{
	background: #C1121F;
}

.image_block_2 .image-box .image-content .support-box h4 a:hover{
  color: #C1121F;
}

.content_block_5 .content-box h3{
	color: #C1121F;
}

.content_block_5 .content-box .inner .list-item li:before{
	color: #C1121F;
}

.feature-block-one .inner-box:before{
	background: #C1121F;
}

.team-block-one .inner-box .image-box:before{
	background: #C1121F;
}

.team-block-one .inner-box .lower-content h4 a:hover{
  color: #C1121F;
}

.team-block-one .inner-box .lower-content .social-links li a:hover{
  color: #C1121F;
}

.team-block-one .inner-box:before{
	background: #C1121F;
}

.google-map-section .map-inner .map-content{
	background: #C1121F;
}

.page-title .pattern-layer:before{
	background: #C1121F;
}

.page-title .pattern-layer:after{
	background: #C1121F;
}

.content_block_6 .info-inner .info-list li i{
	background: #C1121F;
}

.content_block_6 .info-inner .info-list li p a:hover{
  color: #C1121F;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{
  border-color: #C1121F !important;
}

.error-section .inner-box p a{
	color: #C1121F;
}

.default-sidebar .widget-title h4:before{
	background: #C1121F;
}

.service-sidebar .categori-widget .categori-list li a:before{
	background: #C1121F;
}

.service-sidebar .advise-widget .inner-box:before{
	background: #C1121F;
}

.service-details-content .inner-box h4{
	color: #C1121F;
}

.service-details-content .inner-box .two-column .list li:before{
	color: #C1121F;
}

.pagination li a:hover,
.pagination li a.active{
	background: #C1121F;
}

.pagination li a:hover{
	background: #8A0D16;
}

.sidebar .sidebr-search{
	background: #C1121F;
}

.sidebar .sidebar-post .post-inner .post .post-thumb{
	background: #C1121F;
}

.sidebar .sidebar-post .post-inner .post .comment i{
	color: #C1121F;
}

.sidebar .sidebar-post .post-inner .post h6 a:hover{
    color: #C1121F;
}

.sidebar .categories-widget .categories-list li a span{
	color: #C1121F;
}

.sidebar .categories-widget .categories-list li a:hover{
	background: #8A0D16;
}

.sidebar .tags-widget .tags-list li a:hover{
	background: #8A0D16;
}

.blog-details-content .post-share-option .tags li a:hover{
	background: #8A0D16;
}

.blog-details-content .post-share-option .social-links li a:hover{
  color: #C1121F;
}

.blog-details-content .comment-box .comment .comment-info h4 span{
	color: #C1121F;
}

.blog-details-content .comment-box .comment .reply-btn{
	background: #C1121F;
}

.blog-details-content .comments-form-area .comment-form .form-group input:focus,
.blog-details-content .comments-form-area .comment-form .form-group textarea:focus{
	border-color: #C1121F !important;
}